<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
<th:block th:fragment="footer">
    <footer id="footer"><!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>SHINELIKEDIAMOND</span>-shop</h2>
                            <p>Discover a daily changing selection of over 2,500 fashion and lifestyle brands and save up to 75%.</p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="images/home/map.png" alt="" />
                            <p>St Petersburger Straße 45 , Berlin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2021 SHINELIKEDIAMOND-SHOP Inc. All rights reserved.</p>
                </div>
            </div>
        </div>

    </footer>
</th:block>
</body>
</html>