<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title> Detail | LikeDiamond</title>
	<th:block th:insert="utils/imports.html :: meta"></th:block>
	<th:block th:insert="utils/imports.html :: maincss"></th:block>
</head><!--/head-->

<body>
<th:block th:insert="utils/header.html :: header"></th:block>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-11 padding-right">
					<div class="product-details">
						<div class="col-sm-5">
							<div class="view-product">
								<img th:src="${item.getImagePath()}" alt="" />
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information">
								<a sec:authorize="hasAuthority('MODERATOR')"  th:href="'editItem?itemId='+${item.getId()}"><i class="fa fa-edit" style="font-size: 30px;position: absolute;top: 0;right: 0;"></i></a>
								<th:block th:if="${item.isSale()}">
									<img src="images/home/sale.png" class="newarrival" alt="" />
								</th:block>

								<h2 th:text="${item.name}"></h2>
								<p th:text="${item.getDescription()}"></p>
								<span>
									<span th:text="${item.getPrice() + '€'}"></span>
									<a th:href=" '/cart?itemId='+ ${item.getId()}" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</a>
								</span>
								<p><b>Availability:</b> <th:block th:text="${item.getStock()}"></th:block> In Stock</p>
								<p><b>Brand:</b> <th:block th:text="${item.getBrand()}"></th:block></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<br><br><br><br><br><br>
<th:block th:insert="utils/footer.html :: footer"></th:block>
<th:block th:insert="utils/imports.html :: mainjs"></th:block>

</body>
</html>